body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #todo-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #todo-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  #add-button {
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #add-button:hover {
    background-color: #45a049;
  }
  
  #todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  
  .todo-item span {
    flex: 1;
  }
  
  .todo-item button {
    background-color: red;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .todo-item button:hover {
    background-color:#ccc;
  }
  
  .completed {
    text-decoration: line-through;
    color: #808080;
  }
  
